@charset "utf-8";

.article{
	padding: 200px 0;
	position: relative;
}
#articleCanvas0{
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	z-index: -10;
}
#articleCanvas1{
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	z-index: -10;
}
#articleCanvas2{
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	z-index: -10;
}
#articleCanvas3{
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	z-index: -10;
}
#articleCanvas4{
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	z-index: -10;
}
#articleCanvas5{
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	z-index: -10;
}
#articleCanvas6{
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	z-index: -10;
}
/*아티클2 나브*/
.article2NavBg{
	background: url(../img/line.png);
	width: 370px;
	height: 397px;
	position: fixed;
	right: -20px;
	bottom: -50px;
}
.article2Nav{
	position: fixed;
	right: 10px;
	bottom: 0;
}
.article2Nav>li{
	cursor: pointer;
	transition: all 0.7s;
}
.article2Nav>li.on{
	color: darkgoldenrod;
	transform: translateX(-40px);
}
.article2Nav>li:nth-child(2){
	margin-left: -40px;
}
.article2Nav>li:nth-child(2).on{
	transform: translateX(20px);
}
.article2Nav>li:nth-child(3){
	margin-left: -30px;
}
.article2Nav>li:nth-child(3).on{
	transform: translateX(20px);
}
.article2Nav>li:nth-child(5){
	margin-left: -50px;
}
.article2Nav>li:nth-child(5).on{
	transform: translateX(20px);
}
.article2Nav>li:nth-child(7){
	margin-left: 20px;
}
/*아티클2 나브*/
/*yogerpresso*/
.h2Copy{
	perspective: 500px;
	max-width: 1400px;
	margin: 0 auto;
}
.h2Copy::after{
	content: '';
	display: block;
	clear: both;
}
.h2Copy>li{
	float: left;
	padding: 0 5px;
	font-size: 80px;
	font-weight: bold;
	transition: all 2s;
	opacity: 0;
}
.h2Copy>li.on{
	transform: none !important;
	opacity: 1;
}
.articleP{
	opacity: 0;
	transition: all 2s;
	max-width: 1400px;
	margin: 0 auto;
	text-align: left;
}
.articleP.on{
	opacity: 1;
}
.yogerpresso{
	position: relative;
}
.coffee{
	position: absolute;
	left: 300px;
	top: 920px;
	width: 261px;
	height: 306px;
	background: url(../img/coffee.png);
	opacity: 0;
}
.coffee.on{
	opacity: 1;
}
.coffeeDrip{
	position: absolute;
	left: -560px;
	top: -610px;
	width: 688px;
	height: 685px;
	background: url(../img/coffeeDrip.png);
}
.coffeeDrip.on{
	animation: coffeeDrip 4s 4 alternate linear;
}
@keyframes coffeeDrip{
	50%{
		transform: translate(75px, 45px);
	}
	100%{
		transform: translate(0px, 85px);
	}
}
.menuList>li{
	position: relative;
	margin: 400px 0 0;
}
.menuList>li>a::after{
	content: '';
	display: block;
	clear: both;
}
.menuList>li:nth-child(1){
	margin-left: 50%;
}
.menuList>li:nth-child(2){
	margin-top: 700px;
	margin-left: 20%;
}
.menuList>li:nth-child(3){
	margin-left: 40%;
}
.menuList>li:nth-child(4){
	margin-top: 400px;
	margin-left: 10%;	
	margin-bottom: 200px;
}
.menuList>li>a>div{
	float: left;
	font-size: 50px;
	overflow: hidden;
}
.menuList>li>a>div>h3>span{
	font-weight: bold;
}
.menuList>li>a>div>p{
	font-size: 30px;
}
.menuList>li>a>div:nth-child(2){
	margin-left: -150px;
	position: absolute;
	left: 300px;
	top: -150px;
}
.menuList>li>a>div:nth-child(2)>div{
	color: white;
}
.menuList>li>a>div:nth-child(2)>div>h3>span{
	font-weight: bold;
}
.menuList>li>a>div:nth-child(2)>div>p{
	font-size: 30px;
}
/*yogerpresso*/
/*cafenery*/
.cafeneryContents{
	max-width: 1400px;
	margin: 200px auto 0;
}
.cafeneryContents>img{
	margin: 100px auto 0;
	display: block;
}
.cafeneryContents>p{
	width: 70%;
	margin: 20px auto;
	font-size: 24px;
}
.cafeneryContentsPCopy{
	font-size: 28px;
}
.cafenery .on{
	transform: none !important;
}
.cafeneryList>li{
	margin-top: 200px;
	background-color: white;
	/*padding: 50px;*/
	width: 620px;
}
.cafeneryList>li:nth-child(2){
	margin-left: calc(100% - 650px)
}
.cafeneryList>li>a>div>h3{
	font-size: 36px;
	padding: 50px 0;
}
.cafeneryList>li>a>div>img{
	display: block;
	clear: both;
	padding-top: 50px;
}
/*cafenery*/
/*story*/
.story{
	text-align: center;
}
.storyList{
	text-align: left;
	max-width: 1400px;
	margin: 30px auto 0;
}
.storyList>li{
	margin: 100px 0;
}
.storyList>li{
	overflow: hidden;
	background-color: white;
	padding: 50px;
}
.storyList>li:nth-child(1),
.storyList>li:nth-child(3)
{
	margin-left: 360px;
}
.storyList>li:nth-child(2),
.storyList>li:nth-child(4){
	width: 1000px;
}
.storyList>li>img{
	float: left;
	margin-right: 50px;
}
.storyList>li>h4{
	font-size: 28px;
}
.storyList>li>h4>span{
	color: steelblue;
	font-size: 16px;
}
.position{
	opacity: 0;
	transition: all 1s;
	transform: translateY(100px);
}
.position.active{
	opacity: 1;
	transform: none
}
.position.position0{
	font-size: 36px;
	margin-top: 160px;
}
.position.position1{
	margin-bottom: 30px;
}
/*story*/
/*oneDay*/
.position7{
	padding: 130px 0 60px;
	width: 450px;
	margin: 0 auto;
}
.position7>h3{
	font-size: 36px;
}
.position7>h3>span{
	font-weight: bold;
}
.oneDayList{
	max-width: 1400px;
	margin: 0 auto;
}
.oneDayList>li{
	padding: 70px 0;
}
.oneDayList>li::after{
	content: '';
	display: block;
	clear: both;
}
.oneDayList>li>div>h4{
	font-size: 28px;
}
.oneDayList>li:nth-child(odd)>img{
	float: right;
	transform: rotate(-10deg) translate(-30px, -60px);
	box-shadow: -2px 2px 2px;
}
.oneDayList>li:nth-child(odd)>div{
	float: right;
	position: relative;
	z-index: 10;
}
.oneDayList>li:nth-child(even)>img{
	float: left;
	transform: rotate(5deg) translate(30px, -60px);
	box-shadow: 2px 2px 2px;
}
.oneDayList>li:nth-child(even)>div{
	float: left;
	position: relative;
	z-index: 10;
}
/*oneDay*/
/*event*/
.event1{
	position: relative;
	width: 760px;
	margin: 100px auto 0;
	overflow: hidden;
	perspective: 1000px;
}
.event1>img{
	vertical-align: top;
}
.event2{
	position: absolute;
	right: -15px;
	bottom: -20px;
}
.event2>img{
	vertical-align: top;
}
/*event*/
/*magazine*/
.recipe{
	width: 760px;
	height: 2368px;
	margin: 100px auto 100px;
}
.recipe>div{
	width: 76px;
	height: 76px;
	float: left;
	background-image: url(../img/recipe.jpg);
	background-repeat: no-repeat;
	transition: all 2s;
}
.recipe>div.on{
	transform: none !important;
}
/*magazine*/
/*sns*/
.snsImg{
	overflow: hidden;
	max-width: calc(197px * 5);
	margin: 0 auto;
}
.snsImg>li{
	float: left;
	position: relative;
}
.snsImg>li>img{
	vertical-align: top;
}
.snsImg>li::after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.snsImg>li:hover::after{
	background-color: rgba(0, 0, 0, 0.5);
}
.snsImg>li>div{
	position: absolute;
	box-sizing: border-box;
	background-color: yellow;
	transition: all 0.2s;
	z-index: 10;
}
.snsImg>li>div:nth-of-type(1){
	left: 0;
	top: 0;
	width: 100%;
	height: 3px;
	transform: scaleX(0);
	transform-origin: left;
}
.snsImg>li>div:nth-of-type(2){
	right: 0;
	top: 0;
	width: 3px;
	height: 100%;
	transform: scaleY(0);
	transform-origin: top;
	transition-delay: 0.1s;
}
.snsImg>li>div:nth-of-type(3){
	right: 0;
	bottom: 0;
	width: 100%;
	height: 3px;
	transform: scaleX(0);
	transform-origin: right;
	transition-delay: 0.2s;
}
.snsImg>li>div:nth-of-type(4){
	left: 0;
	bottom: 0;
	width: 3px;
	height: 100%;
	transform: scaleY(0);
	transform-origin: bottom;
	transition-delay: 0.3s;
}
.snsImg>li:hover>div:nth-child(odd){
	transform: scaleX(1);
}
.snsImg>li:hover>div:nth-child(even){
	transform: scaleY(1);
}
/*sns*/